{% extends 'main/base2.html'%}
{% load crispy_forms_tags %}


{% block title %}
    {% if not user.seller %} 
        Create seller profile
    {% else %}
        Update seller profile
    {% endif %}
{% endblock %}
{% block overlay_name %}
    {% if not user.seller %} 
        Create seller profile
    {% else %}
        Update seller profile
    {% endif %}
{% endblock %}


{% block main_content %}
    <p>Please Enter <b>valid</b> data below:</p>
    <!--* always remember to use enctype='multipart/form-data' when working with forms that have an imagefield or filefield -->
    <form action="#" method="POST" enctype="multipart/form-data">
        {{form|crispy}} {% csrf_token %}
        <button class="btn btn-lg bg-primary " type="submit" style='float: right;margin: 5px 0 10px;'> Done! </button>
    </form>
    
{% endblock %}